.brands-wrapper {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brand {
  width: 24%;
  height: 110px;
  padding: 5px;
  background-color: var(--white-color);
  margin-bottom: 20px;
  border-radius: 30px;
  overflow: hidden;
}

.brand-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 720px) {
  .brands-wrapper {
    padding: 15px;
  }
}

@media (max-width: 520px) {
  .brand {
    width: 48%;
  }
}
