.spinner {
  height: calc(100vh - 250px);
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: darkblue;
  position: absolute;
  animation: spin 1.5s linear infinite;
  opacity: 0;
}

@keyframes spin {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
